div.comment {
    margin-top : 0.5em;
    font-style: italic;
    font-weight: normal;
}
div.without-chords {
    line-height: 1;
	text-indent: -2em;
	padding-left: 2em;
}
div.with-chords {
    line-height: 1.7;
	text-indent: -2em;
	padding-left: 2em;
}
div.chorus {
    margin-top : 0.5em;
    font-style: italic;
    font-weight: normal;
}
div.verse {
    margin-top : 0.5em;
    font-weight: normal;
    font-style: normal;
}
div.bridge {
    margin-top : 0.5em;
    font-style: italic;
    font-weight: normal;
}
span.chord {
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 0.7em;
    bottom: 1.2em;
    left: 0.2em;
    width: 0;
	text-indent: 0;
	padding-left: 0;
}
span.whitespace{
    margin: 0.5em;
}
span.double-whitespace{
    margin: 1em;
}